body {
    margin: 10px;
    background-image: url(./assets/images//rainbow.png);
    background-position: center;
    background-size: cover;
    font-size: larger;
    font-family: 'Playfair Display', serif;
}

section {
    /* border: 2px solid orange; */
    padding: 15px;
    margin: 0px;
    border-radius: 10px;
    background-color: #ffffffbd;
}

div {
    /* border: 1px solid rgb(0, 170, 255); */
}

h1, h2 {
    font-weight: bolder;
}

ul > li {
    list-style: circle;
}

/* Header */
#header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    padding: 0px;
    gap: 10px;
}

#header > div {
    padding: 15px;
}

.image-div {
    display: flex;
    grid-row: span 2;
    justify-content: center;
    align-items: center;
}

.image-div img {
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: xx-large;
}

.title h1 {
    margin: 0px;
}

.title p {
    margin-top: 10px;
    margin-bottom: 0px;
}

/* Contact Bar */
#contact-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#contact-bar > div {
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
}

.contact > img {
    height: 1.5rem;
    padding-right: 15px;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact a:hover {
    color: rgba(149, 0, 255, 0.789);
}

/* Content */
#content {
    /* border: 3px solid darkblue; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    margin-top: 10px;
    padding: 0px;
    gap: 10px;
    background-color: transparent;
}

#content > section {
    padding-top: 0px;
}

/* Experience */
.job-description {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.428);
}

.job-description > div {
    padding: 5px;
}

.employer {
    font-weight: bolder;
}

.position {
    font-style: italic;
}

.responsibilities {
    grid-column: span 3;
}

.hollister {
    margin-bottom: 0px;
}

/* Projects */
#projects {
    grid-column: span 2;
}

/* Laptops */
@media (max-width: 960px) {
    body {
        font-size: large;
    }

    .title {
        font-size: x-large;
    }
}

/* Tablets */
@media (max-width: 720px) {
    body {
        font-size: medium;
    }

    .title {
        font-size: larger;
    }

    #content {
        gap: 5px;
    }

    .contact > img {
        height: 1rem;
        padding-right: 10px;
    }
}

/* Phones */
@media (max-width: 540px) {
    body {
        font-size: small;
    }

    .title {
        font-size: medium;
    }

    .contact > img {
        height: 0.8rem;
        padding-right: 8px;
    }
}

@media (max-width: 440px) {
    body {
        font-size: x-small;
    }

    .title {
        font-size: small;
    }

    .contact > img {
        height: 0.8rem;
        padding-right: 8px;
    }
}

@media (max-width: 400px) {

    .title {
        font-size: smaller;
    }

    .contact > img {
        height: 0.6rem;
        padding-right: 6px;
    }
}