body {
    margin: 10px;
    background-image: url(./assets/images/rainbow.png);
    background-position: center;
    background-size: cover;
    font-size: larger;
    /* color: white; */
}

section {
    border: 2px solid orange;
    margin: 0;
}

div {
    border: 1px solid rgb(0, 170, 255);
}

/* Header */
#header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    position: relative;
    /* background-color: blueviolet; */
    
}

.image-div {
    display: flex;
    grid-row: span 2;
    justify-content: center;
    align-items: center;
}

.image-div img {
    height: 80%;
    width: 80%;
    object-fit: contain;
    margin: 0;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5%;
}

.title h1 {
    margin: 0;
}

/* Contact Bar */
#contact-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#contact-bar > div {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10%;
}

/* Content */
#content {
    border: 3px solid darkblue;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 50rem 10rem 20rem; */
    grid-template-rows: auto auto auto;
}

#content section {
    /* margin: 0; */
}

/* Side Bar */
#side-bar {
    grid-row: span 3;
}

/* Experience */
#experience {
}

.job-description {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto;
}

.job-description .responsibilities {
    grid-column: span 2;
}

/* Projects */
#projects {

}

/* Footer */
#footer {

}

@media (max-width: 960px) {
    body {
        font-size: large;
    }
}

@media (max-width: 720px) {
    body {
        font-size: medium;
    }
}

@media (max-width: 540px) {
    body {
        font-size: small;
    }
}